@model IEnumerable<MakeYourMeal.Data.Models.Category>

@{
	ViewBag.Title = "Index";
}

<div id="wrapper">
	<!-- Sidebar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
		<ul class="nav sidebar-nav">
			<li class="sidebar-brand">
				<a>Menu</a>
			</li>

			@foreach (var item in Model)
			{
				<li class="dropdown food-items-list">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.CategoryName</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							@foreach (var subitem in item.FoodItems)
							{
								<a href="#" class="updatePage" id=@Uri.EscapeUriString(subitem.Name)>@subitem.Name</a>
							}
						</li>
					</ul>
				</li>
			}
		</ul>
	</nav>
	<!-- /#sidebar-wrapper -->
	<!-- Page Content -->
	<div id="page-content-wrapper" class="panel-body">
		<button type="button" class="hamburger is-open" data-toggle="offcanvas">
			<span class="hamb-top"></span>
			<span class="hamb-middle"></span>
			<span class="hamb-bottom"></span>
		</button>
		<div id="plate">

		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
@section scripts
{
	<script>
		var tableNumber = @ViewBag.TableNumber;
	</script>
	<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
	<script type="text/javascript" src="~/signalr/hubs"></script>
	<script src="~/Scripts/toastr.js"></script>
	<script src="~/Scripts/FoodItems.js"></script>
}