@model IEnumerable<MakeYourMeal.Data.Models.Category>

@{
	ViewBag.Title = "Index";
}

<div id="wrapper">
	<div id="sidebar-wrapper" class="panel-group list-group">
		<ul class="sidebar-nav">
			@foreach (var item in Model)
			{
				string demoName = "demo" + item.CategoryName.Replace(" ", string.Empty);
				string demoId = "#" + demoName;
				<li class="sidebar-brand">
					<a href="@demoId" data-toggle="collapse" data-parent="#Wrapper">@item.CategoryName</a>
				</li>
				<li class="collapse" id="@demoName">

					@foreach (var subitem in item.FoodItems)
					{
						<a class="updatePage" id=@Uri.EscapeUriString(subitem.Name)>@subitem.Name</a>
					}
				</li>
			}
		</ul>
	</div>

	<div id="page-content-wrapper" class="panel-body">

	</div>
</div>

@section scripts
{
	<script>
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

	<script type="text/javascript">
		$(function () {
			$(".updatePage").click(function () {
				//get the category id
				var id = $(this).attr("id");
				var url = "/FoodItems/Details/" + id;
				// Perform the ajax call
				$.post(url,
					function (data) {
						//Fill div with results
						$("#page-content-wrapper").html(data);
					});
			});
		});
	</script>
}