@model IEnumerable<MakeYourMeal.Data.Models.Category>

@{
	ViewBag.Title = "Index";
}

<div id="wrapper">
	<!-- Sidebar -->

	<nav class="navbar navbar-fixed-top menu-left-style" id="sidebar-wrapper" role="navigation">
		<div class="nav sidebar-nav food-items-list menu-title">
			<a>Menu</a>
		</div>
		<ul class="nav sidebar-nav food-items-list">

			@foreach (var item in Model)
			{
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.CategoryName</a>
					<ul class="dropdown-menu subitems-list" role="menu">
						<li>
							@foreach (var subitem in item.FoodItems)
							{
								<a href="#" class="updatePage" id=@Uri.EscapeUriString(subitem.Name)>
									<img src="~/Images/@subitem.ImagePath" height="40" width="53" />
									@subitem.Name
								</a>
							}
						</li>
					</ul>
				</li>
			}
		</ul>
	</nav>
	<!-- /#sidebar-wrapper -->
	<!-- Page Content -->
	<div id="page-content-wrapper" class="panel-body dark-background">
		<button type="button" class="hamburger is-open" data-toggle="offcanvas">
			<span class="hamb-top"></span>
			<span class="hamb-middle"></span>
			<span class="hamb-bottom"></span>
		</button>
		<div id="plate">

		</div>
        <button id="callWaiter" type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-earphone" style="font-size: 40px ;"></i></button>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
@section scripts
{
	<script>
		var tableNumber = @ViewBag.TableNumber;
	</script>
	<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
	<script type="text/javascript" src="~/signalr/hubs"></script>
	<script src="~/Scripts/toastr.js"></script>
	<script src="~/Scripts/FoodItems.js"></script>
}