@model IEnumerable<MakeYourMeal.Data.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.CategoryName, "GetAllFoodItemsForCategory", new { category = item.CategoryName })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryName })
        </td>
    </tr>
}

</table>