@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right">
			<li>
				@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
		</ul>
	}
}
else
{
	if (!ViewBag.Title.Equals("Orders"))
	{
		<ul id="nav" class="nav navbar-nav navbar-right">
			<li>
				<div class="floatL">
					<a href="@Url.Action("MyOrder", "Order", null)" class="navbar-brand view-order-font floatR">
						<span>View Order</span>
						<img src="~/Images/cart.png" alt="My Order" width="50" height="50" class="floatL cart-image"/>
	
					</a>
						@*@Html.ActionLink("View Order", "MyOrder", "Order", null, new { @class = "navbar-brand bigger-font floatR" })*@
				</div>
				<span data-bind="visible: numberOfNoti() >0"><span class="badge badge-notify" data-bind="text: numberOfNoti"></span></span>
			</li>
		</ul>
	}
}