
/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 0;
	padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/********Details.cshtml***********/
.floatL {
	float: Left;
}

.clearB {
	clear: both;
}

#droppable-6 {
	float: left;
	width: 12%;
}

#extra {
	float: right;
	width: 20%;
}

#extra a{
	text-align: center;
}

#extraIngredients {
	padding-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#extraIngredients ul li{
	padding-bottom: 2px;
	padding-top: 2px;
}

.ingredients-style{
	background-image: url('../Images/background-ing.jpg');
	border: none;
}

.droppable-active {
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

#drag-container {
	float: left;
	padding-left: 30%;
	margin: 0 auto;
}
/*********************************/

body {
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
	padding-top: 50px;
}

body,
html {
	height: 100%;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
	padding-left: 0;
	height: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

	#wrapper.toggled {
		padding-left: 220px;
	}

#sidebar-wrapper {
	z-index: 999;
	left: 220px;
	width: 0;
	height: 100%;
	margin-left: -220px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #1a1a1a;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 220px;
}

#page-content-wrapper {
	width: 100%;
	float: right;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
	position: relative;
	top: 53px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

	.sidebar-nav a {
		display: block;
		color: #ddd;
		text-decoration: none;
		padding: 10px 15px 10px 30px;
	}

	.sidebar-nav li {
		position: relative;
		line-height: 20px;
		display: inline-block;
		width: 100%;
	}

		.sidebar-nav li:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			height: 100%;
			width: 3px;
			background-color: #1c1c1c;
			-webkit-transition: width .2s ease-in;
			-moz-transition: width .2s ease-in;
			-ms-transition: width .2s ease-in;
			-o-transition: width .2s ease-in;
			transition: width .2s ease-in;
		}

		.sidebar-nav li:nth-child(1):before {
			background-color: #a5b747;
		}

		.sidebar-nav li:nth-child(2):before {
			background-color: #f18d41;
		}

		.sidebar-nav li:nth-child(3):before {
			background-color: #1eadb6;
		}

		.sidebar-nav li:nth-child(4):before {
			background-color: #DED949;
		}

		.sidebar-nav li:nth-child(5):before {
			background-color: #a5b747;
		}

		.sidebar-nav li:nth-child(6):before {
			background-color: #f18d41;
		}

		.sidebar-nav li:nth-child(7):before {
			background-color: #FAF678;
		}

		.sidebar-nav li:nth-child(8):before {
			background-color: #1eadb6;
		}

		.sidebar-nav li:hover:before,
		.sidebar-nav li.open:hover:before {
			width: 100%;
			-webkit-transition: width .2s ease-in;
			-moz-transition: width .2s ease-in;
			-ms-transition: width .2s ease-in;
			-o-transition: width .2s ease-in;
			transition: width .2s ease-in;
		}

		.sidebar-nav li a {
			display: block;
			color: #ddd;
			text-decoration: none;
			padding: 10px 15px 10px 30px;
		}

			.sidebar-nav li a:hover,
			.sidebar-nav li a:active,
			.sidebar-nav li a:focus,
			.sidebar-nav li.open a:hover,
			.sidebar-nav li.open a:active,
			.sidebar-nav li.open a:focus {
				color: #fff;
				text-decoration: none;
				background-color: transparent;
			}

	.sidebar-nav > .sidebar-brand {
		height: 65px;
		font-size: 20px;
		line-height: 44px;
	}

	.sidebar-nav .dropdown-menu {
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
		border-radius: 0;
		border: none;
		background-color: #222;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
	position: fixed;
	top: 73px;
	z-index: 998;
	display: block;
	width: 32px;
	height: 32px;
	background: transparent;
	border: none;
}

	.hamburger:hover,
	.hamburger:focus,
	.hamburger:active {
		outline: none;
	}

	.hamburger.is-closed:before {
		content: '';
		display: block;
		width: 100px;
		font-size: 14px;
		color: #fff;
		line-height: 32px;
		text-align: center;
		-ms-opacity: 0;
		opacity: 0;
		-webkit-transform: translate3d(0,0,0);
		-webkit-transition: all .35s ease-in-out;
	}

	.hamburger.is-closed:hover:before {
		-ms-opacity: 1;
		opacity: 1;
		display: block;
		-webkit-transform: translate3d(-100px,0,0);
		-webkit-transition: all .35s ease-in-out;
	}

	.hamburger.is-closed .hamb-top,
	.hamburger.is-closed .hamb-middle,
	.hamburger.is-closed .hamb-bottom,
	.hamburger.is-open .hamb-top,
	.hamburger.is-open .hamb-middle,
	.hamburger.is-open .hamb-bottom {
		position: absolute;
		left: 0;
		height: 4px;
		width: 100%;
	}

	.hamburger.is-closed .hamb-top,
	.hamburger.is-closed .hamb-middle,
	.hamburger.is-closed .hamb-bottom {
		background-color: #f18d41;
	}

	.hamburger.is-closed .hamb-top {
		top: 5px;
		-webkit-transition: all .35s ease-in-out;
	}

	.hamburger.is-closed .hamb-middle {
		top: 50%;
		margin-top: -2px;
	}

	.hamburger.is-closed .hamb-bottom {
		bottom: 5px;
		-webkit-transition: all .35s ease-in-out;
	}

	.hamburger.is-closed:hover .hamb-top {
		top: 0;
		-webkit-transition: all .35s ease-in-out;
	}

	.hamburger.is-closed:hover .hamb-bottom {
		bottom: 0;
		-webkit-transition: all .35s ease-in-out;
	}

	.hamburger.is-open .hamb-top,
	.hamburger.is-open .hamb-middle,
	.hamburger.is-open .hamb-bottom {
		background-color: #f18d41;
	}

	.hamburger.is-open .hamb-top,
	.hamburger.is-open .hamb-bottom {
		top: 50%;
		margin-top: -2px;
	}

	.hamburger.is-open .hamb-top {
		-webkit-transform: rotate(45deg);
		-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
	}

	.hamburger.is-open .hamb-middle {
		display: none;
	}

	.hamburger.is-open .hamb-bottom {
		-webkit-transform: rotate(-45deg);
		-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
	}

	.hamburger.is-open:before {
		content: '';
		display: block;
		width: 100px;
		font-size: 14px;
		color: #fff;
		line-height: 32px;
		text-align: center;
		opacity: 0;
		-webkit-transform: translate3d(0,0,0);
		-webkit-transition: all .35s ease-in-out;
	}

	.hamburger.is-open:hover:before {
		opacity: 1;
		display: block;
		-webkit-transform: translate3d(-100px,0,0);
		-webkit-transition: all .35s ease-in-out;
	}
/********************************************/
#callWaiter {
  position: fixed;
  top: 85%;
  right: 15px;
	
}
.btn-circle {
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 35px;
}

/**********************************************/

#plate {
	padding-left: 80px;
	padding-right: 80px;
}

.images-style {
	width: 100px; /*ratio = 11.29 to page-content-wrapper*/
	height: 25px; /*ratio = 22.92*/
}

.badge-notify {
	background: red;
	position: absolute;
	top: 10px;
	left: 37px;
}

.food-items-list {
	/*-shadow: 0px 0px 1px 0px #111;*/
}

.my-order a:link {
	text-decoration: none;
}

.menu-left-style {
	background: #785c55 !important;
	background-color: transparent;
	background-image: url("/Images/zenbg-3.png"), url("/Images/zenbg-4.png") !important;
	background-repeat: repeat-x, repeat !important;
}

.navbar-top-style {
	background: #503331 !important;
	background-image: url("/Images/zenbg-1.png"), url("/Images/zenbg-2.png") !important;
	background-repeat: repeat-x, repeat !important;
	border: none;
}

.menu-title {
	font-size: 25px;
}

.subitems-list {
	background: #b3817b !important;
	background-image: url("/Images/zenbg-9.png"), url("/Images/zenbg-10.png") !important;
	background-repeat: repeat-x, repeat !important;
}

	.subitems-list li a {
		padding: 5px 15px 5px 30px;
		;
	}

	.subitems-list li:nth-child(1):before,
	.subitems-list li:nth-child(2):before,
	.subitems-list li:nth-child(3):before,
	.subitems-list li:nth-child(4):before,
	.subitems-list li:nth-child(5):before,
	.subitems-list li:nth-child(6):before,
	.subitems-list li:nth-child(7):before,
	.subitems-list li:nth-child(8):before {
		background: none;
	}

.ingredient-list {
	background: #4e4242 !important;
	background-image: url("/Images/zenbg-7.png"), url("/Images/zenbg-8.png");
	background-repeat: repeat-x, repeat !important;
	border: none;
}

.myorder-page {
	height: 100%;
	background-size: cover;
	overflow-y: visible;
	background: #b3817b !important;
	background-image: url("/Images/zenbg-6.png") !important;
	background-repeat: repeat !important;
}

.myorder-page-container {
	color: #fff;
	padding: 4%;
	width: 400px;
}

	.myorder-page-container h1 {
		color: #D38F68;
	}

	.myorder-page-container h3 {
		padding-left: 20px;
	}

	.myorder-page-container li {
		list-style-type: none;
	}

	.myorder-page-container a {
		text-decoration: none;
		color: #D38F68;
	}

.footer {
	padding: 0% 4%;
}

	.footer a {
		text-decoration: none;
		color: #D38F68;
	}

.sheet-container {
	background-color: #EDEBD6;
	color: #967963;
	margin: 1%;
	padding: 2%;
	outline: 2px solid #967963;
}

	.sheet-container h3 {
		font-size: 1.6em;
	}

	.sheet-container ul li {
		font-size: 1.5em;
	}

	.sheet-container p {
		font-size: 0.6em;
	}

.logo-position {
	float: left;
	padding-right: 20px;
}

.dark-background {
	background-image: url('../Images/background.jpg');
	height: 100%;
	overflow-y: visible;
	bottom: 0;
}

.light-background {
	background-image: url('../Images/background-light.jpg');
	height: 100%;
	overflow-y: visible;
	bottom: 0;
}

.fit-all{
	height: 100%;
}

.dd-font{
	color: #000;
}

.small-font{
	font-size: 0.8em;
	text-decoration: none;
}

.bigger-font{
	font-size: 1.8em;
}

.music-font{
	font-style: italic;
	font-size: 1.3em;
	padding-top: 20px;
}
/******************************************************/
